# Supabase Configuration
SUPABASE_URL=https://pyrtujfivpyfftgkqsbi.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5cnR1amZpdnB5ZmZ0Z2txc2JpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUzMzAzNjksImV4cCI6MjA3MDkwNjM2OX0.HLPXm0EgIR_Ul5b1qxkKJ4yi-Xh39VsBAGgPC6-LA2M
SUPABASE_TABLE=processed_cases

# Gemini API Configuration
GEMINI_API_KEY=AIzaSyCoFTfqOUr9K8Lg4v-mSR_Ou63YqQyv-r0

# Application Configuration
DEBUG=True
LOG_LEVEL=INFO
